<div class="row">
  <div class="col">
    <h5>About iJavaScript</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col">
    <img class="image" src="../../../assets/about.png" />
  </div>
  <div class="col">
    <p>
      iJavaScript is a research group founded to check different javascript
      frameworks based on different design patterns.<Br />
    </p>
    <p>
      During kick-off it will test React, Angular, Knockout and Ember JS
      features. This use case will prove different aspects of framework
      capabilities.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <br>
  </div>
</div>
<div class="row">
  <div class="col">
    <h4>Re-usable Component</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-reusable-component [data]="contactDetails"></app-reusable-component>
  </div>
  <div class="col">
    <app-reusable-component [data]="emailDetails"></app-reusable-component>
  </div>
</div>
